#project-ranter  {
    background-image: url('./../images/portfolio-item-images/Ranter.png');
}

#project-train-to-the-beat {
    background-image: url('./../images/portfolio-item-images/Song\ Detail\ List.png');
}

#project-notetaker {
    background-image: url('./../images/portfolio-item-images/note-taker.png');
}

#project-team-generator {
    background-image: url('./../images/portfolio-item-images/teamprofile.png');
}

#project-password-generator {
    background-image: url('./../images/portfolio-item-images/password-generator.png');
}

#project-js-quiz {
    background-image: url('./../images/portfolio-item-images/JSQuiz.png');
}

#project-budget-tracker {
    background-image: url('./../images/portfolio-item-images/budget-tracker.png');
}